
h1{
    margin: 20px;
    position: relative;
     text-transform: capitalize
}
h1::before{
    content:"";
    width: 100px;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: 35px;
    left: 0;
    transform-style: capitalize;
}

.box{
    width: 200px;
    height: 200px;
    padding: -10px;
    background-color: black;
    color: white;
}
